<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center"><ion-icon name="restaurant-outline"></ion-icon> Cardápio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label><h2>Pizzas</h2></ion-label>
    </ion-list-header>
    <div *ngFor="let p of produtos" class="borda">
      <ion-item>
        <ion-label>
          <h1>{{ p.nome }}</h1>
        </ion-label>
        <h3 text-center>{{ p.quantidade < 0 ? 0 : p.quantidade }}</h3>
        <ion-button fill="outline" color="success" (click)="aumentar(p.nome)"><ion-icon name="bag-add"></ion-icon></ion-button>
        <ion-button fill="outline" color="danger" (click)="diminuir(p.nome)"><ion-icon name="bag-remove"></ion-icon></ion-button>
      </ion-item>
      <ion-item>
        <ion-label>
          <h3>{{ p.descricao }}</h3>
        </ion-label>
        <h4>{{ p.valor }}</h4>
      </ion-item>
    </div>
    </ion-list>
  </ion-content>

  <ion-button expand="full" color="danger" (click)="addCarrinho()">Add no Carrinho<ion-icon name="cart"></ion-icon></ion-button>


  